# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Timelapse output
recordings/
*.mp4
*.encoding.mp4
*.jpg

# Logs
*.log

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db